<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Detalhes</title>
</head>
<body>
	<div th:replace="~{menu :: menu-quitter}"></div>
	<div class="container">

		<h2>Detalhes da pergunta</h2>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title" th:text="${pergunta.duvida}">Pergunta</span>
						<h5>
							<span th:text="${pergunta.descricao}"></span>
						</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Adicionar um comentário:</span>
						<form action="" method="post">
							<div>
								<input type="text" name="comentario">
							</div>
							<div>
								<button
									class="light-green darken-4 waves-effect waves-light btn"
									type="submit">Adicionar Comentário</button>
								<button class="red darken-4 waves-effect waves-light btn"
									type="reset">Limpar Campos</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<table class="highlight">
							<thead>
								<tr>
									<th>Comentário</th>
									<th>Usuário</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="r : ${respostas}">
									<td th:text="${r.comentario}">Comentário</td>
									<td>Nome do Usuário</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>