<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">

<title>Detalhes</title>
</head>
<body>
	<div th:replace="~{menu :: menu-quitter}"></div>
	<div class="container">

		<h2>Detalhes da pergunta</h2>
		<p th:if="${mensagem}" th:text="${mensagem}"></p>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title" th:text="${pergunta.duvida}">Pergunta</span>
						<h5>
							<span th:text="${pergunta.descricao}"></span>
						</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Adicionar um comentário:</span>
						<form
							th:action="@{/perguntas/{idPergunta}(idPergunta=${pergunta.id})}"
							method="post" th:object="${resposta}">
							<div>
								<input type="hidden" th:field="*{id}" readonly="readonly">
							</div>
							<div>
								<input type="text" th:field="*{comentario}">
								<p th:errors="*{comentario}"></p>
							</div>
							<div>
								<button
									class="light-green darken-4 waves-effect waves-light btn"
									type="submit">Adicionar Comentário</button>
								<button class="red darken-4 waves-effect waves-light btn"
									type="reset">Limpar Campos</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<table class="highlight">
							<thead>
								<tr>
									<th>Comentário</th>
									<th>Usuário</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="r : ${respostas}">
									<td th:text="${r.comentario}">Comentário</td>
									<td>Nome do Usuário</td>
									<td><a
										th:href="@{/perguntas/{idPergunta}/respostas/{idResposta}/selecionar(idPergunta=${pergunta.id}, idResposta=${r.id})}"><i
											class="material-icons">edit</i></a><a
										th:href="@{/perguntas/{idPergunta}/respostas/{idResposta}/remover(idPergunta=${pergunta.id}, idResposta=${r.id})}"><i
											class="material-icons">delete_forever</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>