<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Criação de Pergunta</title>
</head>
<body>
	<div th:replace="~{menu :: menu-quitter}"></div>
	<div class="container">

		<h5>Adicione sua dúvida aqui.</h5>
		<h6 class="red-text">Hora de Quisttionar!</h6>

		<form action="/perguntas" method="post">
			<div>
				<label class="black-text"><h6>Dúvida:</h6></label> <input
					type="text" name="duvida">
			</div>
			<div>
				<label class="black-text"><h6>Descrição da Dúvida:</h6></label> <input
					type="text" name="descricao">
			</div>
			<div>
				<button class="light-green darken-4 waves-effect waves-light btn" type="submit">Criar</button>
				<button class="red darken-4 waves-effect waves-light btn" type="reset">Limpar Campos</button>
			</div>
		</form>
	</div>
</body>
</html>